.link {
  display: inline-block;
  text-decoration: none;
  margin: 20px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 20px;
  color: yellow;
}

.link:hover {
  text-shadow: rgb(248, 248, 94) 0.2em 0.3em 0.2em;
}
