.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 40px;
}

.username {
  margin-right: 25px;
  font-weight: 700;
  font-size: 20px;
  color: yellow;
  text-shadow: rgb(200, 200, 27) 0.2em 0.3em 0.2em;
}

.buttonLogout {
  font-size: 18px;
  color: yellow;
  background-color: forestgreen;
  border: solid 2px yellow;
  border-radius: 8px;
}
.buttonLogout:hover {
  color: forestgreen;
  background-color: yellow;
  box-shadow: rgb(200, 200, 27) 0.2em 0.3em 0.2em;
}
